body {
  font-family: var(--font-system);

  padding: var(--body-padding-tb) var(--body-padding-lr);

  background-color: var(--brand-color-main);

  color: var(--brand-color-accent);
}

/* TODO: Drop this bandaid and fix nav */
@media screen and (max-width: 400px) {
  h2 {
    font-size: large;
  }
}

a:link, a:visited {
  color: var(--brand-color-fun);
}

.footnote {
  position: relative;
  margin-left: 4px;
  margin-right: 4px;
}

.footnote::after {
  content: "*";
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  color: var(--brand-color-secondary);
  font-weight: bold;
}

.warning {
  top: 0;
  left: 0;
  font-size: small;
  color: orange;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--body-font-size);
}
